{% extends 'base.html' %}

{% block content %}

<h1>{{ job.title }}</h1>

<p><strong>Company:</strong> {{ job.company.company_name }}</p>
<p><strong>Location:</strong> {{ job.location }}</p>
<p><strong>Category:</strong> {{ job.category }}</p>
<p><strong>Job Type:</strong> {{ job.job_type|title }}</p>
<p><strong>Salary:</strong> ₹{{ job.salary }}</p>
<p><strong>Description:</strong><br>{{ job.description }}</p>

<hr>

<!-- JOB SEEKER – APPLY BUTTON -->
{% if request.user.is_authenticated and request.user.company != job.company %}
<form method="POST" action="{% url 'jobs:apply_job' job.pk %}">
    {% csrf_token %}
    <button type="submit" style="padding:8px 16px;">Apply Now</button>
</form>
{% endif %}

<!-- COMPANY – VIEW APPLICANTS BUTTON -->
{% if request.user.is_authenticated and request.user.company == job.company %}
    <a href="{% url 'jobs:view_applicants' job.pk %}">
        <button style="margin-top:20px; padding:8px 16px;">View Applicants</button>
    </a>
{% endif %}

<hr>

<a href="{% url 'jobs:job_list' %}">
    <button>Back to Job List</button>
</a>

{% endblock %}
